<%- include('../partials/header.ejs') %>
<div class="utopia">
  <header>
    <div class="header">
      <div>
        <img class="image" src="/images/logo.png" alt="Utopia Island logo">
        <p class="sub"> An app to populate your island</p>
      </div>
    </div>
    <div>
      <nav>

        <div>

          <% if (user) { %>
            <audio controls autoplay>

              <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
            <span>
              <div>
                <p> You are signed in, <%= user.name %>
                </p>
              </div>
            </span>
            <a href="/auth/sign-out">SIGN OUT</a>

            <% } else { %>
              <audio controls autoplay>

                <source src="audio/audio.mp3" type="audio/mpeg">
              </audio>
              <div class="butt">
              <p style="margin-right: 10px; padding-top: 10px;"> Already have and account? </p>
              <a href="/auth/sign-in">SIGN IN</a>
            </div>
              <% } %>
        </div>
      </nav>
    </div>

  </header>
  <div class="sign">
    

    <div class="forms">
      <h1 class="form">Sign Up!</h1>
      <form action="/auth/sign-up" method="POST" class="getin">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" />
        <button type="submit"  class="rightbutt">SIGN UP</button>
      </form>
    </div>

    <p class="error-msg">
      <%= error %>
    </p>
  </div>
  <img src="/images/palm.png" alt="Italian Trulli" style="width: 300px; margin-top: 75px;">
</div>
  <%- include('../partials/footer.ejs') %>

  https://www.linkedin.com/pulse/summary-steve-daltons-book-2-hour-job-search-philip-hoberg/