<%- include('../partials/header.ejs') %>

<div class="sign"> 
<h1 class="form">Sign In</h1>

<div class="forms"> 
<form action="/auth/sign-in" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" />
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />
  <button type="submit">SIGN IN</button>
</form>
</div>

</div>

<p class="error-msg"><%= error %></p>

<%- include('../partials/footer.ejs') %>