<%- include('../partials/header.ejs') %>

    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>

        <aside>
            <div class="left">
                <h2 style="color: white; margin-bottom: 8px; margin-top: 5px;"> Add a New Citizen</h2>
                <div class="formss">
                    <form action="/citizens" method="POST" class="getin" style="padding-top: 20px">
                        <label for="name" style="margin-bottom: -15px; margin-top: -20px; color:#ffffff;">Name:</label>
                        <input type="text" name="name" id="name" style="margin-top: 10px;" />

                        <div class="rolediv" style="margin-top: -10px;">
                            <div class="inside">
                                <label for="formerRole"> Former Role:</label>
                                <input type="text" name="formerRole" id="formerRole" style="margin-top: 4px;" />
                            </div>
                            <div class="sec">
                                <label for="currentRole"> Current Role:</label>
                                <input type="text" name="currentRole" id="currentRole" style="margin-top: 4px;" />
                            </div>
                        </div>
                        <label for="reason" style="margin-bottom: 0px; margin-top: -20px;"> Reason why this person was
                            chosen for Utopia Island:</label>
                        <textarea type="text" name="reason" id="reason" style="margin-top: -5px;"></textarea>

                        <label for="rating" style="margin-bottom: 0px; margin-top: -4px;">Select a rating:</label>
                        <select name="rating" id="rating">
                            <option value="1">⭐️</option>
                            <option value="2">⭐️⭐️</option>
                            <option value="3">⭐️⭐️⭐️</option>
                            <option value="4">⭐️⭐️⭐️⭐️</option>
                            <option value="5" selected>⭐️⭐️⭐️⭐️⭐️</option>
                        </select>

                        <button type="submit" class="rightbutt" style="margin-top: 0px;">Add Citizen</button>
                    </form>
                </div>
            </div>
            <a href="/citizens" class="back">Back to Current Citizens </a>
        </aside>
        <main>

            <div class="right">

                <div class="citizen">
                    <a href="/citizens" class="citizen"> Current Citizens </a>
                </div>
                <div>

                    <%- include('../partials/list.ejs') %>
                </div>
            </div>

        </main>
    </div>
    <%- include('../partials/footer.ejs') %>