<%- include('../partials/header.ejs') %>

    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>

        <aside >
            <div class="left">
                <h2 style="color: white; margin-bottom: 8px;"> Add a New Citizen</h2>
                <div class="formss">
                    <form action="/citizens" method="POST" class="getin">
                        <label for="name" style="margin-bottom: -15px;">Name:</label>
                        <input type="text" name="name" id="name" />
                        <div class="rolediv">
                            <div class="inside">
                                <label for="formerRole"> Former Role:</label>
                                <input type="text" name="formerRole" id="formerRole" />
                            </div>
                            <div class="sec">
                                <label for="currentRole"> Current Role:</label>
                                <input type="text" name="currentRole" id="currentRole" />
                            </div>
                        </div>
                        <label for="reason" style="margin-bottom: -12px;"> Reason why this person was chosen for Utopia Island:</label>
                        <textarea type="text" name="reason" id="reason"></textarea>

                        <label for="rating" style="margin-bottom: -12px;">Select a rating:</label>
                        <select name="rating" id="rating">
                            <option value="1">⭐️</option>
                            <option value="2">⭐️⭐️</option>
                            <option value="3">⭐️⭐️⭐️</option>
                            <option value="4">⭐️⭐️⭐️⭐️</option>
                            <option value="5" selected>⭐️⭐️⭐️⭐️⭐️</option>     </select>

                        <button type="submit" class="rightbutt" style="margin-top: 20px;">Add Citizen</button>
                    </form>
                </div>
            </div>
            <a href="/citizens" class="back">Back to Current Citizens </a>
        </aside>
        <main>

            <div class="right">

                <div>
                    <h2 style="font-family: Lato; sans-serif; text-align: center; padding-top: 10px;">Current Citizens</h2>
                </div>
                <div>

                    <%- include('../partials/list.ejs') %>
                </div>
            </div>

        </main>
    </div>
    <%- include('../partials/footer.ejs') %>