<%- include('../partials/header.ejs') %>

    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>

        <aside class="margin">
            <div class="left">
                <div class="forms">
                    <form action="/citizens" method="POST" class="getin">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" />
<div class="rolediv"> 
    <div> 
                        <label for="formerRole"> Former Role:</label>
                        <input type="text" name="formerRole" id="formerRole" />
                                  </div>
                                  <div> 
                        <label for="currentRole"> Current Role:</label>
                        <input type="text" name="currentRole" id="currentRole" />
                    </div>
                                  </div>
                        <label for="reason"> Reason why this person was chosen for Utopia Island:</label>
                        <input type="text" name="reason" id="reason" />

                        <label for="rating"> Rating:</label>
                        <input type="number" name="rating" id="rating" />
                     
                        <button type="submit" class="rightbutt">Add Citizen</button>
                    </form>              
                </div>
            </div>
           
        </aside>
        <main>

            <div class="right">

                <div>
                    <a href="/unicorns">Current Citizens</a>

                </div>
                <div>
              
                    <%- include('../partials/list.ejs') %>
                </div>
            </div>

        </main>
    </div>
    <%- include('../partials/footer.ejs') %>