<div>
    <ol>
        <% for (let i=0; i < 20; i++) { %>
            
            <li>
                <a href="/citizens/<%= citizen._id %>">
                <%= citizens[i] ? citizens[i].name : '' %> 
            </a>
            </li>
        
            <% } %>
    </ol>
</div>

<!-- <div>
    <ol>

        <% citizens.forEach(citizen=> { %>
            <li>
                <%= citizen.name %>
            </li>
            <% }); %>
    </ol>
</div> -->

