


<div>
    <ol class="citlist">
        <% for (let i=0; i < 20; i++) { %>

            <li class="citlist">
                <% if (citizens[i]) { %>
                    <a href="/citizens/<%= citizens[i]._id %>" class="citlink">
                        <%= citizens[i].name %>
                    </a>
                    <% } %>
            </li>

            <% } %>
    </ol>
</div>

