<%- include('./partials/header.ejs') %>
    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('./partials/buttons.ejs') %>
            </div>
        </header>

        <div>
            <aside>
                <div class="left" style="margin-bottom: 150px; margin-top: -18px;"> >
                    <p style="color: #DEFCAB; "> The current year is Zed...</p>
                    <p style="color: #DEFCAB"> You have been provided with the last (and first)
                        Island in this edition of humanity. </p>
                    <p style="color: #DEFCAB"> In addition to your personal circle,</p>
                    <p style="font-weight: bold; font-size: 20px;"> You can invite celebrities from the former edition
                        of
                        humanity</p>
                    <p style="font-weight: bold; font-size: 20px;"> These celebrities can be:
                    <ul style="color:white; font-weight: bold; font-size: 20px;">
                        <li> ‘Living‘ or ‘dead’ </li>
                        <li> Fictional or non fictional</li>
                        <li> Historical figures or everyday celebrities</li>
                    </ul>
                    <p style="color: #DEFCAB"> The Unknown has provided you with a few favorites
                        You can delete them or change their role in the new society</p>
                    <div>
                        <div>

                            <% if (user) { %>


                                <a href="/citizens" class="frontpage">Review Citizens</a>
                        </div>

                        <% } else { %>

                            <div>

                                <a href="/auth/sign-in" class="frontpage">Review Citizens</a>
                            </div>

                            <% } %>
                    </div>

                </div>
            </aside>
        </div>

       
        <main>

            <div class="right">

                <div>
                    <h2 style="font-family: Lato; sans-serif; text-align: center; padding-top: 10px;">Current Citizens
                    </h2>

                </div>
                <div>
                    <%- include('./partials/list.ejs')%>
                </div>

            </div>

        </main>
    </div>
    <%- include('./partials/footer.ejs') %>