<%- include('./partials/header.ejs') %>

<div class="utopia">
    <header>
        <div class="header">
            <div class="header">
                <h1 id="title">UTOPIA ISLAND</h1>
                <p> An app to populate your island</p>
            </div>
        </div>
    </header>

    <aside class="left-content">
        <p> The current year is Zed</p>
        <p> You have been provided with the last (and first)
            Island in this edition of humanity. </p>
        <p> In addition to your personal circle,</p>
        <p> You can invite celebrities from the former edition of humanity</p>
        <p> These celebrities can be
            ‘living‘ or ‘dead’
            fictional or non fictional
            Historical figures or everyday celebrities</p>
        <p> The Unknown has provided you with a few favorites
            You can delete them or change their role in the new society</p>
        <button> Review Citizens </button>
    </aside>
    <main class="right">
        <div class="messages">
            <h2> Current Citizens</h2>

        </div>
        <div>
            <ol>
                <li> Cleopatra </li>
            </ol>
        </div>
    </main>
</div>

<%- include('./partials/footer.ejs') %>